@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --alura-dark-blue-300: #0A3871;
    --alura-gray-400: #495057;
    --alura-gray-500: #343A40;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    color: var(--alura-dark-blue-300);
    background-color: #F3F5FC;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

img{
    max-width: 100%;
}

textarea{
    line-height: 150%;
    resize: none;
    background: none;
    border: none;
}

textarea:focus{
    outline: none;
}

button{
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 67px;
    border-radius: 24px;
}

button:disabled{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 1440px;
    min-height: 100vh;
    padding: 40px;
    margin: 0 auto;
}

.logo{
    flex: 0 0 200px;
    height: 48px;
    text-align: center;
    max-width: 200px;
    padding-right: 80px;
}

.input-text{
    display: flex;
    flex: 0 0 calc(100% - 600px);
    height: calc(100vh - 80px);
    padding: 0 80px 30px 0;
    justify-content: flex-end;
}

#text-form{
    margin-top: auto;
    width: 100%;
}

#text-form textarea{
    font-size: 32px;
    width: 100%;
    height: 650px;
}

#text-form p{
    font-size: 12px;
    display: flex;
    align-items: center;
    color: var(--alura-gray-400);
    margin: 16px 0;
}

#text-form p img{
    max-width: 100%;
    margin-right: 8px;
}

.input-text-btns{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.input-text-btns div{
    width: 50%;
    padding: 0 12px;
}

#crypt-btn{
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: var(--alura-dark-blue-300);
    border: none;
}

#crypt-btn:hover{
    opacity: 0.8;
}

#decrypt-btn{
    color: var(--alura-dark-blue-300);
    cursor: pointer;
    background-color: #D8DFE8;
    border: 1px solid var(--alura-dark-blue-300);
}

#decrypt-btn:hover{
    opacity: 0.8;
}

#copy-btn{
    color: var(--alura-dark-blue-300);
    cursor: pointer;
    border: 1px solid var(--alura-dark-blue-300);
    background-color: transparent;
}

.output-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 400px;
    max-width: 400px;
    height: calc(100vh - 80px);
    padding: 32px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.output-text-no-msg{
    width: 100%;
    margin: auto;
    text-align: center;
}

.output-text-no-msg img{
    width: 100%;
    margin-bottom: 32px;
    display: block;
}

.output-text-no-msg h2{
    font-size: 24px;
    margin: 0 0 16px 0;
    font-weight: 700;
    color: var(--alura-gray-500);
}

.output-text-no-msg p{
    color: var(--alura-gray-400);
    margin: 0;
}

.output-text-msg{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.output-text-msg textarea{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 400;
    font-size: 24px;
    color: var(--alura-gray-400);
    margin: 0 0 32px;
}

.hidden{
    display: none;
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    .logo{
        flex: 0 0 170px;
        height: 48px;
        max-width: 170px;
        padding-right: 50px;
    }

    .input-text{
        flex: 0 0 calc(100% - 520px);
        padding-right: 50px;
    }

    .output-text{
        flex: 0 0 350px;
        max-width: 350px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .logo{
        flex: 0 0 100%;
        height: 48px;
        max-width: 100%;
        padding: 30px 0;
        text-align: left;
    }

    .input-text{
        flex: 0 0 100%;
        padding: 120px 0 64px 0px;
        height: 100%;
    }

    .input-text textarea{
        height: 530px;
    }

    .output-text{
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }

    .output-text-no-msg{
        margin: auto;
        text-align: center;
    }

    .output-text-no-msg img{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .wrapper{
        padding: 24px 16px 40px;
    }

    .logo{
        flex: 0 0 100%;
        height: 48px;
        max-width: 100%;
        padding-right: 0px;
        text-align: left;
    }

    .input-text{
        flex: 0 0 100%;
        padding: 80px 0 40px 0;
        height: 100%;
    }

    .input-text textarea{
        height: 250px;
    }

    .input-text-btns div{
        width: 100%;
        margin-bottom: 24px;
    }

    .output-text{
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
    }

    .output-text-no-msg{
        max-width: 255px;
    }

    .output-text-no-msg img{
        display: none;
    }
}